@media screen and (max-width: 768px) and (min-width: 400px) {
    .header-section{
        width: 100%;
        height: 100%;
        background-image: url(images/background.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header {
        width: 100%;
        height: 100%;
        background-color: #1f1f1fdb;
    }
    
    .bar{
        display: flex; 
        width: 100%;
    }
    .one{
        width: 70%;
    }
    .one img{
        width: 40px;
        padding-left: 15px; 
        margin-top: 15px;
    }
    .one p{
        color: white;
        font-size: 9px;
        padding-left: 45px;
        margin-top: -20px; 
    }
    .two{
        width: 30%;
        padding: 5px;  
        display: flex;
    }
    .two button{
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    .two .minus{
        padding: 1px;
        background-color: rgba(72, 230, 169, 0.945);
        color: #fff;
        font-size: 9px;
        font-weight: 200;
        border-color: rgba(72, 230, 169, 0.945);
        border-style: solid;
        margin-top: 15px;
    }
    .two .plus{
        padding: 1.5px;
        background-color:transparent;
        border-color: transparent;
        color: #fff;
        font-size: 9px;
        border-style: solid;
        padding-left: 9px; 
    }
    .start{
        text-align: center;
    }
    .start p{
        font-size: 12px;
        font-weight: bold;
        color: rgba(72, 230, 169, 0.945);
        margin-bottom: 5px;
    }
    .start img{
        width: 70px;
    }
    .start h1{
        padding-top: 0.5px;
        color: #fff;
        font-size: 12px;
    }
    .start button{
        padding: 10px;
        background-color: rgba(72, 230, 169, 0.945);
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        border-color: rgba(72, 230, 169, 0.945);
        border-style: solid;
        border-radius: 5px;
    }
    .start button:hover {
        background-color: white;
        color: #00B997;
        transform: translatey(-4px);
        transition: 0.5s ease;
    }
    .button2{
        display: flex;
        justify-content: center;
        padding-top: 80px;
        border-radius: 50%;
        padding: 50px;
    }
    h2{
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
    }
    .content{
        display:flex;
        width: 100%;
        margin-top: 100px;
        text-align: center;
        justify-content: center;
    }
    .content-one {
        width: 50%;
        justify-content: center;
        text-align: center;
        align-items: center;
    } 
    .content-one h1{
        font-size: 17.5px;
        margin-top: 17.5px;
        
    }
    .content-one p{
        font-size: 14px;
        color: rgba(161, 157, 157, 0.719);
        padding: 12.5px;   
    }
    .content-one img{
        width: 50%;
        
    }
    h3{
        text-align: center;
        font-size: 25px;
        margin-top: 75px; 
    }
    .comments{
        display:flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 100px;
    }
    
    .content-two{
         width: 42%; 
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px; 
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.685);
    }
    i{
            font-size: 30px;  
            color: rgba(209, 209, 209, 1);
            padding-right: 5px;
    }     
     .content-two p { 
        padding: 30px;
        font-size: 10px;
        font-weight: 500;
        color:rgba(119, 117, 117, 0.788);
        columns:rgba(119, 117, 117, 0.788);
        margin-bottom: 30px;
        text-align: center;
       
    }
    .profile{
        border-top: 1px solid rgba(205, 205, 205, 1);
        margin-bottom: 30px;
    }
    .profile img{
        margin-top: 3px;
        margin-right: 150px;
        width: 45px;
    }
    .profile h4{
        margin-top: -40px;
        padding-left: 25px;
        font-weight: 600;
        font-size: 11px;
    }
    .section-circle{
        width: 100%;
        margin-top: 3.75px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .dot{
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color:  rgba(228, 228, 228, 1);
        justify-content: space-between;
       
      }
    
    .dot:nth-child(1) {
        background-color:rgba(173, 167, 167, 0.658);
    }
    .about{
        width: 100%;
        display: flex;
    }
    .about-one{
        width: 45%;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }
    .about-one img{
        width: 90%;
        margin-top: 50px;
    }
    .about-one p{
        margin: 17.5px;
        font-size: 12.5px;
        font-weight: 400;
        padding-left: 12.5px;
    }
    
    .end{
        width: 100%;
        background-color: black;
        align-items: center;
        border-top-right-radius: 700px 200px;
        border-top-left-radius: 700px 200px; 
    }
    .container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center; 
    } 
    .footer{
        width: 100%;
        text-align: center;
      
    }
    
    .logo{
        padding-top: 67.5px;
        margin-bottom: 2.5px;
    }
    .logo p{
        font-size: 15px;
        font-weight: 700;
        color: rgba(72, 230, 169, 0.945);
        margin-bottom: 35px;
    }
    .logo img{
        width: 50px;
    }
    .footer h1{
        padding-top: 2.5px;
        color: #fff;
        font-size: 22.5px;
    }
    .footer button{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 5px;
        background-color: rgba(72, 230, 169, 0.945);
        color: #fff;
        font-size: 9px;
        font-weight: 500;
        border-color: rgba(72, 230, 169, 0.945);
        border-style: solid;
        border-radius: 2.5px;
    }
    .footer button:hover {
        background-color: white;
        color: #00B997;
        transform: translatey(-4px);
        transition: 0.5s ease;
    }
    
    .footer-description{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        border-top: 1px solid rgba(255, 255, 255, 1);
        padding-top: 0.5rem;
        padding-bottom: 7.5px;
        padding-left: 22.5px;
    }
    ul{
        display: flex;
        width: 50%;
        padding: 0 0.5rem;
    }
    ul li a{
        list-style: none;
        margin-right: 7.5px;
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
        font-size: 6.5px;
        text-decoration: none;
        
    }
    
}
